%h1 Ascheeinträge

%table.table
  %thead
    %tr
      %th Datum
      %th Wert
      %th Quelle
      %th

  %tbody
    - @ashes.each do |ash|
      %tr
      %tr
        %td= ash.created_at
        %td= ash.value
        %td= ash.source
        %td
          = icon_link(ashes_path(ash), 'fas fa-info-circle')
          = icon_link(edit_ash_path(ash), 'far fa-edit')
          = icon_link(ashes_path(ash), 'far fa-trash-alt', link_options: { method: :delete, data: { confirm: 'Are you sure?' } })
%br

!= pagy_bootstrap_nav(@pagy)
= link_to 'Neuer Ascheeintrag', new_ash_path
