%h1= "Asche - Eintrag #{@ash.id}"

.row
  .col
    %table.table
      %tr
        %th Wert
        %td= "#{@ash.value} kg"
      %tr
        %th Ermittelt am
        %td= @ash.created_at
      %tr
        %th Ermittelt von
        %td= @ash.source

- if can? :edit, @ash
  = link_to 'Editieren', edit_ash_path(@ash)
\|
= link_to 'Zurück', ashes_path
