.container
  .row
    .col-sm

      .card.h-100{:style => "width: 18rem;"}
        =image_tag("users.png", alt: "Edit Entry", class: 'card-img-top')
        .card-body
          %p.card-text
            =link_to users_path do
              %button.btn.btn-primary Benutzer

    .col-sm
      .card.h-100{:style => "width: 18rem;"}
        =image_tag("storage.png",  alt: "Lager", class: 'card-img-top')
        .card-body
          %p.card-text
            =link_to storages_path do
              %button.btn.btn-primary Lager
    .col-sm
      .card.h-100{:style => "width: 18rem;"}
        =image_tag("consumption2.png", alt: "Verbrauch", class: 'card-img-top')
        .card-body
          %p.card-text
            =link_to consumptions_path do
              %button.btn.btn-primary Verbrauch

  %br
  .row
    .col-sm
      .card{:style => "width: 18rem;"}
        .card-body
          %p= "Gesamtverbrauch: #{@total_consumption_now}kg"
          %p= "Verbrauch seit gestern: #{@consumption_since_yesterday}kg"

  %br
  .row
    .col-sm
      .card
        %h5.card-header Verbrauch
        .card-body
          %h5.card-title
            Gesamtverbrauch
          %p.card-text
            #{@total_consumption_now}kg
          %h5.card-title
            Wochenansicht
          %p.card-text
            %table.table.table-bordered
              %tr
                - @consumptions.each do |c|
                  %td
                    = c.day
                    %br
                    = c.weekday
              %tr
                - @consumptions.each do |c|
                  %td= c.value
            %br

          %p.card-text
            = column_chart @consumptions.map{|c| c.to_h}.pluck(:day, :value)
