.container
  .row
    .col-sm
      .card.text-center.h-100{style: "width: 20rem;"}
        .fas.fa-chart-line.fa-10x
        .card-body
          %p.card-text
            .d-grid.gap-2
              = bootstrap_button_to 'Statistiken', statistics_path, button_classes: 'btn-primary'

    .col-sm
      .card.text-center.h-100{style: "width: 20rem;"}
        .fas.fa-warehouse.fa-10x
        .card-body
          %p.card-text
            .d-grid.gap-2
              = bootstrap_button_to 'Lager', storages_path, button_classes: 'btn-primary'
    .col-sm
      .card.text-center.h-100{style: "width: 20rem;"}
        .fas.fa-fire-alt.fa-10x
        .card-body
          %p.card-text
            .d-grid.gap-2
              = bootstrap_button_to 'Verbrauch', consumptions_path, button_classes: 'btn-primary'

  %br
  .row
    .col-sm
      .card
        %h5.card-header Verbrauch
        .card-body
          %h5.card-title
            Gesamtverbrauch
          %p.card-text
            #{@total_consumption_now}kg
          %h5.card-title
            Wochenansicht
          %div.card-text
            .d-none.d-sm-block
              %table.table.table-bordered
                %tr
                  - @consumptions.each do |c|
                    %td
                      = c.day
                      %br
                      = c.weekday
                %tr
                  - @consumptions.each do |c|
                    %td
                      =c.value
            %br

          %p.card-text
            = column_chart @consumptions.map{|c| c.to_h}.pluck(:day, :value)
