- url = @form.new_record? ? new_storage_path : storage_path
- http_method = @form.new_record? ? :post : :patch
= simple_form_for @form, as: :form, url: url, method: http_method do |f|
  = f.input :value
  = f.input :source
  = f.input :created_at
  - if @storage.errors.any?
    #error_explanation
      %h2= "#{pluralize(@storage.errors.count, "error")} prohibited this consumption from being saved:"
      %ul
        - @storage.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
