%h1 Verbrauch Einträge

%table.table
  %thead
    %tr
      %th Datum
      %th Wert
      %th Quelle
      %th

  %tbody
    - @consumptions.each do |consumption|
      %tr
      %tr
        %td= consumption.created_at
        %td= consumption.value
        %td= consumption.source
        %td
          = icon_link(consumption_path(consumption), 'fas fa-info-circle')
          - if can? :edit, consumption
            = icon_link(edit_consumption_path(consumption), 'far fa-edit')
          - if can? :destroy, consumption
            = icon_link(consumption_path(consumption), 'far fa-trash-alt', link_options: { method: :delete, data: { confirm: 'Are you sure?' } })
%br

!= pagy_bootstrap_nav(@pagy)
= link_to 'Neuer Verbrauchseintrag', new_consumption_path
